@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');
@import url('http://fonts.googleapis.com/earlyaccess/notosansjp.css');

body {
  /*background-image: url("../bg.svg");*/
  /*background: #70e1f5;  /* fallback for old browsers */
  /*background: linear-gradient(#ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background: -webkit-linear-gradient(#ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 16px;
}

body:after {/*擬似要素をつくる*/
  position: fixed;/*固定配置*/
  top: 0; left: 0;/*左上に固定*/
  width: 100%; height: 100%;/*画面全体を覆う*/
  content: "";
  z-index: -1;
  background: #70e1f5;  /* fallback for old browsers */
  background: linear-gradient(#ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-linear-gradient(#ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd194', endColorstr='#70e1f5',GradientType=0 );/*IE9以下への対応*/
  background: linear-gradient(to bottom, #ffd194 0%, #70e1f5 100%);/*正規のプロパティ*/
  background: linear-gradient(to bottom, #ffe2bb 0%, #e2f9fd 100%);
}

header{
  z-index:20;
}

.navbar {
  margin: 2rem 0 2.5rem 0;
}

.my-navbar {
  align-items: center;
  background: rgba(255,255,255,0.8);
  display: flex;
  height: 6rem;
  justify-content: space-between;
  padding: 0 2%;
  margin-bottom: 3rem;
}

.my-navbar-brand {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
}

.my-navbar-brand,
.my-navbar-item {
  color: #333;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
  color: #999;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #fff;
}

.panel{
  padding: 10px;
  background: rgba(255,255,255,0.8);
}

.panel-heading {
  border: none;
  padding: 35px 35px 20px 35px;
  background: rgba(255,255,255,0) !important;
  font-size: 22px;
  text-align: center;
}

.panel-heading a{
  text-decoration: none;
  color:#000;
}

.panel-body {
  padding: 30px 50px 50px 50px;
}

@media (min-width: 992px)
.col-md-6 {
  width: 70%;
}

.text-center{
  background:rgba(255,255,255,0.8);
  padding: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
}